@import '../../app.component.scss';
@import '../../../scss/mixins';

.container {
    max-width: 540px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.form-group {
    margin-top: 2vh;
}

.bottom-content {
    display: flex;
    margin-top: 2vh;
    justify-content: space-between;
    
}

label {
    margin-bottom: 1vh;
}

button {
    pointer-events: all;
    position: relative;
    border: 0;
    padding: 5px;
    padding-left: 0px;
    padding-bottom: 0px;
    background-color: black;
    color: white;
    font-weight: 300;
    &:hover .snake {
        width: calc(100%);
        
    }
    &:disabled {
        pointer-events: none;
    }
}


    .snake {
        @include snake(unset, 0, 0);
    }


a {
    justify-content: center;
    align-items: center;
    color: white;
}

li {
    list-style-type: none;
    a {
        color: white;

        &:hover {
            color: #6b0aea;
        }
    }
}