/* You can add global styles to this file, and also import other style files */

@import 'scss/mixins';
@import 'scss/placeholders';
@import 'scss/variables';

html, body {
    margin: 0;
    height: 100%;
    
}

.mat-accent .mat-slider-thumb {
    background-color: white;
  }
  
  .mat-accent .mat-slider-track-fill {
    background-color: rgb(59, 57, 57);
  }

